<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">


        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/">
                Home
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about">
                ¿Quienes Somos?
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about1">
                ¿Cuales son nuestros Servicios?
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about2">
                ¿Cuales son tus derechos?
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about3">
                Publicaciones
            </a>
        </li>
        <!--<li class="nav-item">
            <a class="btn btn-danger-gradiant font-14" target="_blank" href="https://www.wrappixel.com/free-wrapkit-angular-blog">
                Download Free
            </a>
        </li>-->
    </ul>

</div>