<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
<div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">¿Quieres contactarte con nosotros?</h1>
		<h6 class="subtitle">
			<i>"Apoyanos a apoyar"</i>
		</h6>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<div class="bg-light sfeature1">
	<br/>
	<div class="container">
		<!-- Row  -->
		<div class="row justify-content-center">
			<div class="col-md-12 no-trans">
				<h3 class="title text-center">Oportunidades que te brinda ser voluntario MeraKids</h3>
				<h6 class="subtitle">
					<i>"A los voluntarios no se les paga, no porque no valgan nada, sino porque no tienen precio"</i>
				</h6>
				<ul>
					<li>Capacidad de liderar proyectos con gran impacto social</li>
					<li>Poner en práctica y desarrollar habilidades de trabajo en equipo</li>
					<li>Ganar experiencia en el ámbito de los voluntariados</li>
					<li>Crear y ampliar tu red de contactos, esenciales para tu desarrollo profesional</li>
					<li>Oportunidad de seguir tu pasión</li>
					<li>Agrega valor y conocimiento a tu experiencia profesional</li>
					<li>Construye nuevas experiencias</li>
					<li>Ventana para conocer más a tu comunidad</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row m-t-40">
		<!-- Column -->
		<div class="col-md-4 wrap-feature1-box">
			<div class="card card-shadow" data-aos="fade-right" data-aos-duration="1200">
				<div class="card-body p-40 text-center">
					<div class="card login-box">
						<h3 class="card-header text-center">¿Quieres ser parte de MeraKids?</h3>
						<h6 class="subtitle">
							<i>"¡Qué  ilusión tenerte en nuestro Team Merakids!"</i>
						</h6>
						<div class="card-body">
							<form (ngSubmit)="contactForm(form1.value)" #form1="ngForm">
							<div class="form-group">
								<h5>Nombre</h5>
								<input type="text" class="form-control"  name="nombre" ngModel required>
							</div>
							<div class="form-group">
								<h5>Asunto</h5>
								<input type="text" class="form-control" name="asunto" ngModel required>
							</div>
							<div class="form-group">
								<h5>E-mail</h5>
								<input type="email" class="form-control" name="email" ngModel required>
							</div>
							<div class="form-group">
								<h5>Mensaje</h5>
								<textarea class="form-control" cols="30" rows="6" name="mensaje" ngModel required></textarea>
							</div>
							<button [disabled]="form1.invalid" type="submit" class="btn btn-primary">Enviar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Column -->
		<div class="col-md-4 wrap-feature1-box">
			<div class="card card-shadow" data-aos="fade-right" data-aos-duration="1200">
				<div class="card-body p-40 text-center">
					<div class="card login-box">
						<h3 class="card-header text-center">¿Quieres escribirnos?</h3>
						<h6 class="subtitle">
							<i>"Las buenas iniciativas se comparten"</i>
						</h6>
						<div class="card-body">
							<form (ngSubmit)="contactForm(form2.value)" #form2="ngForm">
							<div class="form-group">
								<h5>Nombre</h5>
								<input type="text" class="form-control" style="padding-left: 15px;" name="nombre" ngModel required>
							</div>
							<div class="form-group">
								<h5>Asunto</h5>
								<input type="text" class="form-control" name="asunto" ngModel required>
							</div>
							<div class="form-group">
								<h5>E-mail</h5>
								<input type="email" class="form-control" name="email" ngModel required>
							</div>
							<div class="form-group">
								<h5>Mensaje</h5>
								<textarea class="form-control" cols="30" rows="6" name="mensaje" ngModel required></textarea>
							</div>
							<button [disabled]="form2.invalid" type="submit" class="btn btn-primary">Enviar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Column -->
		<div class="col-md-4 wrap-feature1-box">
			<div class="card card-shadow" data-aos="fade-right" data-aos-duration="1200">
				<div class="card-body p-40 text-center">
					<div class="card login-box">
						<h3 class="card-header text-center">¿Quieres recibir mayor información?</h3>
						<h6 class="subtitle">
							<i>"Es tan valioso ponernos al servicio de otros"</i>
						</h6>
						<div class="card-body">
							<form (ngSubmit)="contactForm(form3.value)" #form3="ngForm">
							<div class="form-group">
								<h5>Nombre</h5>
								<input type="text" class="form-control" style="padding-left: 15px;" name="nombre" ngModel required>
							</div>
							<div class="form-group">
								<h5>Asunto</h5>
								<input type="text" class="form-control" name="asunto" ngModel required>
							</div>
							<div class="form-group">
								<h5>E-mail</h5>
								<input type="email" class="form-control" name="email" ngModel required>
							</div>
							<div class="form-group">
								<h5>Mensaje</h5>
								<textarea class="form-control" cols="30" rows="6" name="mensaje" ngModel required></textarea>
							</div>
							<button [disabled]="form3.invalid" type="submit" class="btn btn-primary">Enviar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>