/*button{
    width:20%;
    margin-left:40%;
    margin-right:40%;
}
*/
.login-box{
    margin: auto;
    margin-top: 0;
}

h5{
    text-align: start;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1506px;
}

.card-header {
    background-color: #d8effd;
}
li {
    font-style: oblique;
    color: #007aff;
}