<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">¿Cuales son nuestros servicios?</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<br/>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-7 text-center no-trans">
			<!--<h2 class="title">Conoce nuestros servicios</h2>
			<h6 class="subtitle">
				Organización que brinda apoyo psico-educativo y socioemocional a niños y adolescentes con necesidades educativas especiales.
			</h6>-->
		</div>
	</div>
</div>
<!--bg-light-->
<br/>
<div class="feature1">
  	<div class="container">
		<div class="row wrap-feature-22">
			<!-- Column -->
			<div class="col-lg-6" style="padding-top: 10px;" data-aos="flip-up" data-aos-duration="1200">
			<img [src]="imagePathServicio1" class="rounded img-responsive" alt="wrapkit" />
			</div>
			
			<!-- Column -->
			<div class="col-lg-6 no-trans" style="padding-top: 20px;">
				<div class="text-box" >
					<!--<small class="text-info font-medium">Servicio 1</small>-->
					<h3 class="font-bold">
						Orientación y Consejería
					</h3>
					<p>
						Es un acompañamiento psicológico individual de 5 sesiones gratuitas y virtuales.
					</p>
					<p>
						Busca empoderar a las familias y brindarle los recursos necesarios para facilitar el
						aprendizaje y el desarrollo de los niños con necesidades educativas especiales.
					</p>
				</div>
			</div>
			<!-- Column -->
		</div>
		
		<div class="row wrap-feature-22">	
			<!-- Column -->
			<div class="col-lg-6 no-trans" style="padding-top:20px;">
				<div class="text-box" >
					<!--<small class="text-info font-medium">Servicio 2</small>-->
					<h3 class="font-bold">Comunidad Meravaliente</h3>
					<p>
						Está conformada por padres de familia con hijos con necesidades educativas especiales, 
						en donde se realizan circulos de padres y talleres mensuales.		   
					</p>
					<p>
						Es un espacio seguro de contención emocional de manera gratuita virtual y presencial.
					</p>
				</div>
			</div>
			<!-- Column -->
			<div class="col-lg-6" style="padding-top: 10px;" data-aos="flip-up" data-aos-duration="1200">
				<img [src]="imagePathServicio2" class="rounded img-responsive" alt="wrapkit" />
			</div>
			<!-- Column -->
		</div>
  	</div>
</div>

<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->
<!--<div class="spacer">
  <div class="container">
    <div class="row justify-content-center m-b-30">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">
          Are you happy with what we offer? Grab your WrapKit Angular Blog Copy
          Now
        </h2>
        <h6 class="subtitle">
          Yeah ! Its pretty cool about what you are offering and i starterd to
          feel in love with your Amazing UI Kit. I want it Yea!
        </h6>
        <a
          class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
          data-toggle="collapse"
          href="#"
          ><span>View Details <i class="ti-arrow-right"></i></span
        ></a>
      </div>
    </div>
  </div>
</div>-->
<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->
