<div class="footer4 b-t spacer">
	<div class="container text-center">
		<div class="round-social light">
			<a routerLink="#" class="link" (click)="irLinkedin()"><i class="fa fa-linkedin"></i></a>
			<a routerLink="#" class="link" (click)="irInstagram()"><i class="fa fa-instagram"></i></a>
			<a routerLink="#" class="link" (click)="irFacebook()"><i class="fa fa-facebook"></i></a>
			<!--<a routerLink="#" class="link"><i class="fa fa-twitter"></i></a>
			<a routerLink="#" class="link"><i class="fa fa-google-plus"></i></a>-->
		</div>
		<div class="mt-3 copyright">
			Todos los derechos reservados <a href="https://www.wrappixel.com/">MeraKids</a>.
		</div>
	</div>
</div>
