<div
  class="static-slider-head"
  style="background-image: url(assets/images/landingpage/image.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      	<!-- Column -->
      	<div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
			<h1 class="title">MeraKids</h1>
			<h5 class="subtitle op-5">
				Somos una organización que busca apoyar a las familias con hijos e hijas
				con necesidades educativas especiales (NEE) a tráves  de un programa de
				evaluación e intervención, talles socioemocionales y académicos.
			</h5>

			<a routerLink="/contact"
				class="btn btn-md m-t-30 btn-success-gradiant font-18"
				target="blank">
					Contáctanos
			</a>
      	</div>
      	<!-- Column -->
    </div>
  </div>
</div>
<!-- Row  -->
<br>
<div class="container">
	<div class="row justify-content-center">
		<!-- Column -->
		<div class="col-md-8 no-trans text-center">
			<h2 class="title">Conoce más sobre nosotros</h2>
			<h6 class="subtitle">
				Generar un cambio en la vida de los niños y adolescentes con necesidades educativas especiales y
				en sus familias al reducir la brecha en el acceso a servicios de atención psicológica y educativa que
				permitan su desarrollo integral
			</h6>
			<iframe width="760" height="515" src="https://www.youtube.com/embed/UAV1TrQ3cDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<!-- Column -->
	</div>
</div>
<!-- Row  -->
<div class="container spacer">
  	<div class="row justify-content-center">
		<!-- Column -->
		<div class="col-md-8 no-trans text-center">
		<h2 class="title">Publicaciones Recientes</h2>
		<h6 class="subtitle">
			Conoce nuestras publicaciones en Instagram. Revisa nuestras actividades
		</h6>
		</div>
		<!-- Column -->
		</div>
  	<div class="row m-t-40 justify-content-center">
    <!-- Column -->
    <div class="col-md-8 no-trans border-bottom mb-4" *ngFor="let bl of service.Blogs">
      	<div class="card" data-aos="flip-left" data-aos-duration="1200">
        	<div class="row">
          	<div class="col-md-2 no-trans">
            	<span class="text-dark font-medium">{{ bl.blogDate }}</span>
            	<h6 class="card-subtitle font-12 mt-1">MeraKids</h6>
          	</div>
          	<div class="col-md-7 no-trans">
            	<h5 class="font-medium cursor-pointer" (click)="viewInstagram(bl)">
              		{{ bl.heading.substring(0, 50) }}..
            	</h5>
				<p class="m-t-20">
					{{ bl.subHeading }}
				</p>
				</div>
				<div class="col-md-3 no-trans">
					<a
					class="linking font-medium text-themecolor m-t-10 cursor-pointer"
					>
						<span (click)="viewInstagram(bl)">Ir Publicación</span>
						<em class="ti-arrow-right"></em>
					</a>
				</div>
        	</div>
      	</div>
    </div>
  </div>
</div>
