<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/quienessomos.jpeg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">¿QUIENES SOMOS?</h1>
        <h6 class="subtitle">
          <i>"Creemos en un gran espectro de posibilidades para ayudar a aprender"</i>
        </h6>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!--<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-7 text-center no-trans">
			<h2 class="title">Historia de MeraKids</h2>
			<h6 class="subtitle">
				Somos una organización que busca apoyar a las familias con hijos e hijas con necesidades educativas especiales (NEE) a tráves de un programa de evaluación e intervención, talles socioemocionales y académicos.
			</h6>
		</div>
	</div>
</div>-->

<div class=" feature1">
  <br/>
	<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Historia de MeraKids</h2>
        <h6 class="subtitle">
          <!--Somos una organización que busca apoyar a las familias con hijos e hijas con necesidades educativas especiales (NEE) a tráves de un programa de evaluación e intervención, talles socioemocionales y académicos.-->
        </h6>
      </div>
    </div>
    <br/>
		<app-top-content></app-top-content>
	</div>
</div>

<div class="bg-light sfeature1">
  <br/>
  <br/>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
		<div class="col-md-7 text-center no-trans">
			<h2 class="title">Nuestros Logros</h2>
			<h6 class="subtitle">
			<!--You can relay on our amazing features list and also our customer
			services will be great experience for you without doubt and in no-time-->
			</h6>
		</div>
    </div>
    <app-relay-on></app-relay-on>
  </div>
</div>
