<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">¿Cuales son tus derechos?</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<div class="container spacer">
	<div class="row justify-content-center">
		<!-- Column -->
		<div class="col-md-8 no-trans text-center">
			<h2 class="title">Conoce tus derechos</h2>
			<h6 class="subtitle">
				Organización que brinda apoyo psico-educativo y socioemocional a niños y adolescentes con necesidades educativas especiales.
			</h6>
		</div>
		<!-- Column -->
	</div>
	
	<div class="row m-t-40 justify-content-center">
  	<!-- Column -->
  	<div class="col-md-8 no-trans border-bottom mb-4" *ngFor="let bl of service.Derechos">
		<div class="card" data-aos="flip-left" data-aos-duration="1200">
		 	<div class="row">
				<div class="col-md-2 no-trans">
					<img [src]="bl.image" class="rounded img-responsive" alt="wrapkit" />
				</div>
				<div class="col-md-9 no-trans">
					<h5 class="font-medium cursor-pointer" >
							{{ bl.heading.substring(0, 50) }}.
					</h5>
					<p class="m-t-20" align="justify">
						{{ bl.subHeading }}
					</p>
				</div>
		  	</div>
		</div>
  	</div>
</div>
