<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">¿Cuales son tus derechos?</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<br/>
<div class="container">
	<div class="row justify-content-center">
		<!-- Column -->
		<!--<div class="col-md-8 no-trans text-center">
			<h2 class="title">Conoce tus derechos</h2>
			<h6 class="subtitle">
				Organización que brinda apoyo psico-educativo y socioemocional a niños y adolescentes con necesidades educativas especiales.
			</h6>
		</div>-->
		<!-- Column -->
	</div>
	
	<div class="row m-t-40 justify-content-center">
  	<!-- Column -->
  	<div class="col-md-12 no-trans border-bottom mb-4" *ngFor="let bl of service.Derechos">
		<div class="card" data-aos="flip-left" data-aos-duration="1200">
		 	<div class="row">
				<div class="col-md-3 no-trans spacer">
					<img [src]="bl.image" class="rounded img-responsive" style="padding-left: 15px;" alt="Merakids" />
				</div>
				<div class="col-md-9 no-trans">
					<hr/>
					<h3 class="font-bold cursor-pointer" >
							{{ bl.heading }}
					</h3>
					<ol>	
						<li class="p" *ngFor="let der of bl.subHeading">
							{{ der }}
						</li>
					</ol>
				</div>
		  	</div>
		</div>
  	</div>
</div>
