<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" style="padding-top: 10px;" data-aos="flip-up" data-aos-duration="1200">
    <img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" />
  </div>
  
  <!-- Column -->
  	<div class="col-lg-6 no-trans">
		<div class="text-box" >
			<small class="text-info font-medium">Conoce nuestra historia</small>
			<h3 class="font-light">
				Historia de MeraKids
			<!--<span class="text-info">build your project</span> in record time with
				fun making it.-->
			</h3>
			<p align="justify">
				Merakids nace como una idea, apoyar y brindar guía a familias con niños con necesidades educativas especiales. 
				En el 2020 producto del COVID-19, el Perú y el mundo se vio obligado a comenzar a interactuar y relacionarse de manera virtual 
				en todos los aspectos de la vida cotidiana, esto por supuesto también incluyo la educación. En ese momento, Karina Campos,
				una de nuestras fundadoras, trabajaba en un colegio regular que no atendía a niños con necesidades educativas especiales, 
				ahí se dio cuenta la dificultad con la cual niños y padres se adaptaban a la virtualidad, y empezó a cuestionarse como estarían los chicos con TDH, 
				Autismo, Síndrome de Down y aquellos que les cuesta un poco más mantener su atención en un solo estimulo. 
			</p>
			<p align="justify">
				Como primera medida, lanzan una convocatoria para reclutar voluntarios, y con 10 voluntarios, Merakids comienza a atender casos y formar 
				alianzas con diversas ONGs, con el objetivo de hacer del Perú un país mas inclusivo donde la forma en la que aprendes no es una limitante 
				para alcanzar tus sueños.
			</p>
			<!--<a
			class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
			data-toggle="collapse"
			routerLink="#"
			>
			<span>Ver más detalles
				<i class="ti-arrow-right"></i>
			</span>
			</a>-->
		</div>
  	</div>
  <!-- Column -->
</div>
<br>
<div class="row wrap-feature-22">	
	<!-- Column -->
		<div class="col-lg-6 no-trans">
		  <div class="text-box" >
			  <small class="text-info font-medium"></small>
			  <h3 class="font-light">
			  </h3>
			  <p>
				Alrededor del mismo tiempo, Pallavi Rao conjunto con Franco Rossi (nuestros otros 2 fundadores), aun en la universidad, estaban 
				llevando un curso en el cual el objetivo era potenciar y desarrollar una iniciativa social. Pallavi, amiga cercana de Karina, 
				le propone llevar a cabo su idea, crear una plataforma donde socialicen y publiquen información para familias con niños con necesidades 
				educativas especiales destinada ayudar y guiar esta adaptación a la virtualidad. 
			</p>
		  </div>
		</div>
	<!-- Column -->
	<div class="col-lg-6" style="padding-top: 10px;" data-aos="flip-up" data-aos-duration="1200">
		<img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" />
	  </div>
	<!-- Column -->
  </div>
  
  <div class="row wrap-feature-22">
	<!-- Column -->
	<div class="col-lg-6" style="padding-top: 70px;" data-aos="flip-up" data-aos-duration="1200">
	  <img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" />
	</div>
	
	<!-- Column -->
		<div class="col-lg-6 no-trans">
		  <div class="text-box" >
			  <p align="justify">
				  En una semana, nace el Instragram de Merakids y comienzan a hacer publicaciones y recomendaciones. El Instagram comienza a tener llegada, 
				  y a las pocas semanas de su creación, son contactados por ONGs preguntando si Merakids brindaba algún servicio de asesoría o intervención 
				  a niños con necesidades educativas especiales. El curso termina, y Karina les propone a Pallavi y Franco continuar con este proyecto y hacerlo 
				  un voluntariado, de esta forma oficializando la creación de Merakids como voluntariado de la mano de nuestros 3 fundadores, un 12 de Mayo del 2020. 
			  </p>

		  </div>
		</div>
	<!-- Column -->
  </div>
  <div class="row wrap-feature-22">
	<!-- Column -->
		<div class="col-lg-6 no-trans">
		  <div class="text-box" >
			  <p align="justify">
				  Como primera medida, lanzan una convocatoria para reclutar voluntarios, y con 10 voluntarios, Merakids comienza a atender casos y formar 
				  alianzas con diversas ONGs, con el objetivo de hacer del Perú un país mas inclusivo donde la forma en la que aprendes no es una limitante 
				  para alcanzar tus sueños.
			  </p>

		  </div>
		</div>

		<!-- Column -->
		<div class="col-lg-6" style="padding-top: 70px;" data-aos="flip-up" data-aos-duration="1200">
			<img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" />
		</div>

  </div>